html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    /* font-size: 62.5%; */
    -webkit-text-size-adjust: 100%;
}

#container {
    max-width: 320px;
    margin: 0 auto;
}

h1 {
    font-size: 21px;
    text-align: center;
}

body {
    margin: 16px;
}

button {
    width: 100%;
    padding: 8px;
    margin: 16px 0;

    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
}

button:hover {
    color: #fff;
    background: #f56500;
}

span {
    font-weight: bold;
}

header,footer {
    text-align: center;
}

fieldset{
    margin-bottom: 2rem;
}
